*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: inherit;
    object-fit: contain;


}

body{
    font-family: 'Brush Script MT';
    font-weight: 400;
    font-style: normal;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;

}
.h2{
    font-family: 'Brush Script MT';
    font-weight: 400;
    font-style: normal;
   
};

.tarolo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
}
.focim{
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}
.adlam-display-regular{
    color: black;
    font-family: 'Brush Script MT';
    font-weight: 400;
    font-style: normal;
    font-size: 50px;

}
.login, .reg{
    
    background-color: rgb(169, 169, 224);
    border-radius: 20px;
    padding: 10px;
    width: 500px;
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;

}
#btnLogin{
    font-size: 1.5rem;
    color: black;
    border: none;
    background-color: inherit;
    cursor: inherit;
            font-family: 'Brush Script MT';
    font-weight: 400;
    font-style: normal;
    
}
#btnReg{
    font-size: 1.5rem;
    color: black;
    border: none;
    background-color: inherit;
    cursor: inherit;
            font-family: 'Brush Script MT';
    font-weight: 400;
    font-style: normal;
}
.login:hover {
    transform: scale(1.01);
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px 0;
    background-color: rgb(169, 169, 224);
}
input{
    font-size: 1.5rem;
    padding: 10px 0;
    width: 90%;
    border: none;
    outline: none;
    background-color: rgb(169, 169, 224);
}
@media screen and (max-width: 428px){
.login, .input{
        width: 350px;
}
} 

@media screen and (max-height: 430px){
.tarolo{
        width: 100%;
        justify-content: flex-start;
}
} 