body {
    font-family: 'Brush Script MT';
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #CDE7FF;
    border-radius: 20px;
}
   button:hover {
        background-color: rgb(8, 62, 163);
        color:rgb(0, 162, 255);
        transition-duration: 0.5s;
        box-shadow: 2px 2px rgb(83, 82, 82);
   }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CDE7FF;
    color: black;
    padding: 10px 20px;
    z-index: 1000;
    font-family: 'Brush Script MT';
}

header h1 {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.buttonleft {
    font-size: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.gal-item {
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s;
}

.gal-item img {
    width: 1100px;
    height: 500px;
    align-items: center;
    object-fit: cover;
    border-radius: 3px;
}

.gal-item p {
    margin: 10px 0 0;
    font-size: 20px;
    font-family: 'Brush Script MT';
    text-align: center;
}

.gal-item span {
    color: #3235e9;
}

.nyitva {
    margin: 10px 0 0;
    font-size: 20px;
    font-family: 'Brush Script MT';
    text-align: center;
    color: #3235e9;
}
