body {
    font-family: 'ADLaM Display', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CDE7FF;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #CDE7FF;
    border-radius: 20px;
}
   button:hover {
        background-color: rgb(8, 62, 163);
        color:rgb(0, 162, 255);
        transition-duration: 0.5s;
        box-shadow: 2px 2px rgb(83, 82, 82);
   }

nav {
    padding: 30px
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CDE7FF;
    color: black;
    padding: 10px 20px;
    font-family: 'ADLaM Display', sans-serif;
}
header h1 {
    font-size: 24px;
    margin: 0;
    text-align: centers;
}

.buttonleft {
    font-size: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.kavek-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.kavek-item {
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s;
}

.kavek-item:hover {
    transform: scale(1.05);
}

.kavek-item img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    text-align: center;
}

.kavek-item p {
    margin: 10px 0 0;
    font-size: 20px;
    text-align: center;
}

.kavek-item span {
    color: #3235e9;
}


.kavek-item {
    position: relative;
    width: 300px; /* Állítsd be a megfelelő méretet */
    overflow: hidden;
    text-align: center;
}

.kavek-item img {
    width: 100%; /* Kép méretének igazítása */
    transition: filter 0.3s ease-in-out;
}

.kavek-item:hover img {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.leiras p {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.kavek-item:hover .leiras p {
    visibility: visible;
    opacity: 1;
}