body {
    font-family: 'ADLaM Display', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CDE7FF;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


button {
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
 
}

div {
    align-items: center;
    text-align: center;
}
   button:hover {
        background-color: rgb(8, 62, 163);
        color:rgb(0, 162, 255);
        transition-duration: 0.5s;
        box-shadow: 2px 2px rgb(83, 82, 82);
   }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CDE7FF;
    color: black;
    padding: 10px 20px;
    z-index: 1000;
    font-family: 'ADLaM Display', sans-serif;
}

header h1 {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.buttonleft {
    font-size: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.uditok-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 15px;
}

.uditok-item {
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s;
}

.uditok:hover {
    transform: scale(1.05);
}

.uditok img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.uditok p {
    margin: 10px 0 0;
    font-size: 25px;
    font-size: 20px;
    text-align: center;
}

.uditok span {
    color: #3235e9;
}

h3 {
    color: gray;
    text-align: right;
    font-weight:lighter;
}